@import url('./theme.css');

:root {
  --color: red;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input {
  border: 1px solid black;
}

*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}
