.light {
  --background-login: url('./assets/white-snake.jpg');
  --font-color-primary: #1f1f1f;
  --font-color-primary_shadow: #1f1f1f4e;
  --font-color-primary_low-shadow: #1f1f1f17;
  --color-grey: #cccccc;
  --color-primary: #bd40d0;
  --color-primary_hover: #a31db7;
  --color-primary_active: #9416a8;
  --focus-visible: 0 0 5px 5px var(--color-primary_shadow);
  --color-primary_shadow: #9516a84a;
  --container-color-primary: #e8e8e8;
  --invert: invert(0);
  --counter-invert: invert(1);
}

.dark {
  --background-login: url('./assets/snake.jpg');
  --color-grey: #cccccc;
  --font-color-primary: #e3e3e3;
  --font-color-primary_shadow: #e3e3e34e;
  --font-color-primary_low-shadow: #e3e3e317;
  --color-primary: #5a1f63;
  --color-primary_hover: #470f50;
  --color-primary_active: #470751;
  --color-primary_shadow: #b318cb4a;
  --container-color-primary: #121212;
  --focus-visible: 0 0 5px 5px var(--color-primary_shadow);
  --invert: invert(1);
  --counter-invert: invert(0);
}
